<div class="container fixDisplay3">
    <p style="float: left;">
        <span style="color: #737373;;">Copyright @ 2011 Target. All rights reserved. Design by </span>
        <span id="font-style" style="color: #ff9900;">Shegy</span>
    </p>
    <img id="icon-footer" style="float: right;" src="images/picons31.png">
    <img id="icon-footer" style="float: right;" src="images/picons32.png">
    <img id="icon-footer" style="float: right;" src="images/picons35.png">
    <img id="icon-footer" style="float: right;" src="images/picons36.png">
    <img id="icon-footer" style="float: right;" src="images/picons41.png">
    <img id="icon-footer" style="float: right;" src="images/picons48.png">
    <img id="icon-footer" style="float: right;" src="images/picons50.png">
</div>