<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="card" style="width: 18rem;">
            <img style="float: left" class="card-img-top" src="images/ao1.png" alt="Card image cap">
            <div class="card-body" style="float: right">
                <div class="caption">
                    <h3>ten san pham</h3>
                    <p>ma</p>
                    <div class="price">gia</div>
                    <p>so luong</p>
                    <p>size</p>
                    <div>
                    	<a href="#" class="btn btn-success" role="button">Button</a>
                    </div>
                </div>
            </div>
        </div>
        <p class="description">mota</p>
    </div>
</div>
